body{
    margin:0;
    padding:0;
    background: url(./images/@Wallpaper_4K3D\ \(1357\).jpg);
    background-size: cover;
    direction: ltr;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    gap: 30px;
}

.input{
    width: 15rem;
    height: 3rem;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.563);
    color: white;
}
.button{
    border-radius: 6px;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.563);
    color: white;
    text-align: center;
    width: 4rem;
    margin-left: 10px;
}
.input::placeholder{
    color: white;
}
.todo-container{
    height: auto;
}
.todo-list li{
    background-color: rgba(255, 255, 255, 0.541);
    color: black;
    font-size: 2rem;
    width: 600px;
    height: 50px;
    margin:20px 0;
    list-style: none;
    box-sizing: border-box;
    padding:3px 10px 2px 15px;
    border-radius: 20px;
    user-select: none;
    text-align: center;
}
.todo-list li:hover{
    background-color:rgba(255, 255, 255, 0.666) ;
    cursor: default;
}
.contain{
    width: 100%;
    height: auto;
    animation: opacControler 1s ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check,
.trash{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 20px;
    display: none;
    animation: leftToRight 1s;
    cursor: pointer;
}
.bol{
    display: block;
}

.lined{
    text-decoration: line-through;
}




@keyframes opacControler {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes leftToRight {
    0%{
        opacity: 0;
        transform: translateX(-80px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}